@keyframes dialog {
	0%,
	100% {
		-webkit-transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(5px);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(-5px);
	}
}
@keyframes shuaxin {
	0%{
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
